body {
  background: #625963;
  background-image: url("background.png"); 
  background-repeat: no-repeat; 
  background-size: cover;  
}

#banner {
  background: inherit;
  color: #7ab6e2;
}

#banner h1 {
  letter-spacing: 0.5em;
}

#content {
  background: inherit;
}

#sidebar {
  background: initial;
  padding: 0px;
  text-align: right;
}

#sidebar p {
  padding-right: 1em;
  background: rgba(193, 179, 229, .25);
  color: rgba(255, 255, 255, .5);
}

#sidebar img {
  width: 100%;
  height: auto;
  display: block;
}

#upper, #projects {
  text-align: left;
  background: paleturquoise;
}

#upper .jumbotron {
  background: inherit;
}

#projects ul li {
  padding-bottom: 1em;
}  

#projects .co-author {
  font-style: italic;
}  

#not-yet {
  text-decoration: line-through;
}


#lower {
  background: #c1b3e5;
  }

#footsies {
  background: white;  
}      



/*! Media queries occur below this line
*/
@media screen and (max-width: 768px) {
  body {
    background: #1d1d4a;
  }
  #content {
    min-height: 5em;
  }
  #sidebar {
    background: initial;
  }
  #sidebar img {
    width: 50%;
    height: auto;
    float: right;
  } 
  #sidebar p {
    padding-right: 1em; 
    display: inline-block; 
    background: #c1b3e5;
    width: 50%;
  }
}