body {
background: initial;
}

#banner {
  background: red;
}

#content {
  background: yellow;
}

#sidebar {
  background: green;
}

#upper {
  text-align: center;
  background: blue;
}

#lower {
  background: purple;
  }

#footsies {
  position: absolute; 
  bottom: 0px;
  width: 100%;
}

.co-author {
  font-style: italic;
}

#sidebar ul a {
  background: white;
  font-weight: bold;
}

/*! Media queries occur below this line
*/
@media screen and (max-width: 768px) {
  body {
    background: teal;
  }
}