body {
  background: #625963;
  background-image: url("background.png"); 
  background-repeat: no-repeat; 
  background-size: cover;  
}

a {
  color: #AD87B0;
  font-variant:small-caps;
}

#banner {
  color: #191719;
}

#banner h1 {
  background: #c3a7c4;
  margin: .25em 1em;
  padding-bottom: .25em;
  text-align: center;
  letter-spacing: 0.5em;
  border-radius: 0.3rem
  
  }

#content {
  background: transparent;
}

#greeting, #projects {
  text-align: left;
  background: none;
}

#greeting .jumbotron {
  background: #2c282c;
  color: #c9b9ca;
}

#projects {
  background: #2c282c;
  color: #c9b9ca;
  border-radius: 0.3rem
}

#projects ul li {
  padding-bottom: 1em;
}  

#projects .co-author {
  font-style: italic;
  padding-left: 1em;
}  

#twins {
  background: transparent;  
}      

#twins a {
  color: #dbd4db;
}

#mirror {
  background: #c3a7c4;
  border-radius: 0.3rem;
  margin: 1em;
  }

#sidebar {
  background: initial;
  padding: 0px;
  text-align: right;
}

#sidebar img {
  width: 100%;
  height: auto;
  display: block;
}

#sidebar p {
  padding-right: 1em;
  background: #2c282c;
  color: #c9b9ca;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
}


        








/*! Media queries occur below this line
*/
@media screen and (max-width: 768px) {
  body {
    background: #625963;
  }
  
  #content {
    min-height: 5em;
  }

  #projects, #sidebar {
    margin: 1em;
  }

  #sidebar img {
    width: 50%;
    height: auto;
    float: right;
    border-radius: 0rem 0.3rem 0.3rem 0.3rem;
  } 
  #sidebar p {
    padding-right: 1em; 
    display: inline-block; 
    width: 50%;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
  }
}